.site-footer .container {
  padding: 24px 18px;
  text-align: center;
}

.site-footer a {
  color: #c7d2fe;
  margin: 0 10px;
  font-size: 0.9rem;
}

.site-footer a:hover {
  text-decoration: underline;
}
/******************************************************/
.site-footer {
  background: #0b3c6f;
  padding: 50px 20px;
  color: #fff;
}

.footer-inner {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
