
/*********************************************
***********************************************/
/* ================= FOOTER ================= */

.site-footer {
  background: #0a2e55;
  color: #e6f0ff;
  padding: 40px 20px;
}

.footer-inner {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.footer-inner a {
  color: #c7dcff;
  margin: 0 6px;
  text-decoration: none;
  font-weight: 500;
}

.footer-inner a:hover {
  text-decoration: underline;
}
